<div class="center jumbotron">
<h1>Welcome</h1>
<% provide(:title, "HOME") %>
<h2>LJM HOME PAGE</h2>
<%=link_to "sign up now!", signup_path, class: "btn btn-lg btn-primary"%>
</div>
<%= image_tag("logo.jpg",alt: "Rails logo", :class=> "style_image") %>