<footer calss="footer">
	<small>
	 	<a href="http://www.ncsu.edu"> North Carolina State University </a>|
	 	<a href="http://www.csc.ncsu.edu"> Computer Science Department </a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://www.gopack.com"> Go Pack! </a></li>
		</ul>
	</nav>
</footer>
